$shadow-color-light: #646cffaa;
$react-shadow-light: #61dafbaa;

$shadow-color-dark: #8ab4f8aa;
$react-shadow-dark: #80cbc4aa;

:root {
  --text-color: #ffffff;
  --card-bg: #fff;
  --read-docs: #666;
  --shadow-color: #{$shadow-color-light};
  --react-shadow: #{$react-shadow-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1f5f9;
    --card-bg: #1e1e1e;
    --read-docs: #aaa;
    --shadow-color: #{$shadow-color-dark};
    --react-shadow: #{$react-shadow-dark};
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
  background-color: var(--card-bg);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em var(--shadow-color));
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em var(--react-shadow));
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: var(--read-docs);
}